@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirmação da mudança de email";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>