@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Ativação da conta";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <div class="alert alert-success">
        @Html.Raw(Model.StatusMessage)
    </div>
</div>
