@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Recuperar a sua palavra-passe";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>
        Por favor, verifique o seu email para mudar de palavra-passe.
    </p>
</div>
