@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Recuperar a sua palavra-passe";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>
        Se existir uma conta associada ao endereço de e-mail, irá receber um e-mail com mais instruções para recuperar a sua palavra-passe.
    </p>
</div>
