@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Palavra-passe redefinida com sucesso";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>
        A sua palavra-passe foi redefinida. Por favor, <a asp-page="./Login">clique aqui para realizar login</a>.
    </p>
</div>
