@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Redefinir a sua palavra-passe";
}

<div class="container" style="background: url('@Url.Content("~/images/identity-background-form.jpg")') no-repeat center center; background-size: cover; padding: 20px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
    <div class="row justify-content-center">
        <div class="col-md-6" style="background: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 5px;">
            <h3 class="text-center">@ViewData["Title"]</h3>
            <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-floating text-center">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating text-center">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label">Nova Palavra-passe</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating text-center">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirmar Nova Palavra-passe</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Redefinir</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
