@{
    ViewData["Title"] = "Sobre";
}

<div class="text-center">
    <h2 class="display-4" style="color: #001DB3;">Sobre a Plataforma</h2>
    <div class="p-4" style="background-color: #f8f9fa; border-radius: 10px; display: inline-block; text-align: left; max-width: 800px; margin: 0 auto;">
        <h4>Bem-vindo à plataforma de gestão de documentação da EDUGEP.</h4>
        <hr />
        <p>Esta plataforma foi desenvolvida para facilitar a gestão de documentos em ambientes escolares e académicos. Oferece duas vertentes:</p>
        <ul style="list-style-type: none; padding-left: 0;">
            <li><strong>Para Professores:</strong> Permite a realização da gestão de pastas e ficheiros, adaptadas às suas necessidades específicas. Os professores podem organizar, criar, editar pastas e ficheiros e muito mais.</li>
            <li><strong>Para Alunos:</strong> Permite o acesso fácil e organizado à documentação necessária para os seus estudos. Esta vertente visa auxiliar os alunos na realização das suas tarefas da forma mais eficiente.</li>
        </ul>
        <p>Desenvolvida pelo aluno finalista Pedro Manuel Fialho Cunha, no âmbito de estágio curricular da Licenciatura em Engenharia Informática, esta plataforma tem como objetivo facilitar e melhorar a gestão de documentos da entidade no âmbito educacional.</p>
    </div>
</div>
