@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4" style="color: #001DB3;">Sobre a plataforma</h1>
    <h3>Esta plataforma permite fazer a gestão da documentação.</h3>
</div>
