html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.select2-container--open {
    z-index: 999999 !important; /* Use a high value to ensure it's above other elements */
}

.select2-searchable {
    visibility: hidden;
}

