html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.min-width-tag {
    min-width: 150px; /* Adjust the width as needed */
}

.min-width-actions {
    min-width: 100px; /* Adjust the width as needed */
}

/* Optional: Ensure text alignment and prevent wrapping for smaller screens or content */
th, td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select2-container--open {
    z-index: 999999 !important; /* Use a high value to ensure it's above other elements */
}

/* Ensure the container for the Select2 maintains a minimum height */
.select2-container {
    min-height: 38px; /* Adjust based on your Select2 size */
}

/* Additional styles to ensure visibility adjustments do not cause layout shifts */
.select2-container--default .select2-selection--multiple {
    min-height: 38px;
}

.select2-wrapper {
    min-height: 38px; /* Adjust this value based on the actual height of your Select2 component when loaded */
    background-color: #FFF;
}


/* Placeholder adjustments to match the Select2 appearance */
#select2-placeholder {
    display: block; /* make sure it's not none */
    height: 38px; /* Match this with the actual height of Select2 */
    background-color: #EEE;
    line-height: 38px;
    text-align: center;
    margin-bottom: 10px; /* Adjust based on your layout */
}

.select2-searchable {
    visibility: hidden;
    display: none;
}

#wrapper {
    min-height: 120px; /* Adjust the value to prevent layout shift */
}

.search-container {
    position: relative; /* This makes the .search-results-dropdown position relative to this container */
}

.search-results-dropdown {
    position: absolute;
    z-index: 1000; /* Ensures the dropdown appears above other content */
    width: 100%; /* Match the width of the search input */
    background-color: #fff; /* Background color for the dropdown */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    border: 1px solid #ccc; /* Light border for definition */
    border-top: none; /* Removes top border to blend with the input box */
    max-height: 400px; /* Limits the height and adds scroll */
    overflow-y: auto; /* Adds scroll to the dropdown */
    padding: 0; /* Reset padding */
    margin-top: -1px; /* Helps align with the input box */
}

    .search-results-dropdown .dropdown-item {
        padding: 10px 15px; /* Padding for each item */
        cursor: pointer; /* Changes cursor to pointer on hover */
        display: block; /* Ensures each item is on a new line */
    }

        .search-results-dropdown .dropdown-item:hover {
            background-color: #f8f9fa; /* Light background color on hover */
        }

        /* Additional styling for no results message */
        .search-results-dropdown .dropdown-item.no-results {
            text-align: center; /* Center the text */
            color: #888; /* Lighter text color */
        }

.theme-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 40px; /* Reduced from 60px */
    height: 22px; /* Reduced from 34px */
    margin: 0 10px;
}

    .theme-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: background-color 0.4s;
    border-radius: 22px; /* Adjusted for smaller height */
}

    .slider:before {
        position: absolute;
        content: "";
        height: 18px; /* Reduced from 26px */
        width: 18px; /* Reduced from 26px */
        left: 2px; /* Adjusted for smaller slider */
        bottom: 2px; /* Adjusted for smaller slider */
        background-color: white;
        transition: transform 0.4s;
        border-radius: 50%;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(18px); /* Adjusted for smaller slider width */
}

.slider.round {
    border-radius: 22px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.fa-sun {
    color: orange; /* Sun icon always yellow */
}

.fa-moon.light-mode {
    color: black; /* Moon icon color in light mode */
}

.fa-moon.dark-mode {
    color: white; /* Moon icon color in dark mode */
}

.badge.bg-info {
    cursor: pointer; /* Changes cursor to hand pointer on hover */
}

.center-button {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    margin-top: 20px; /* Optional: adds space above the button */
}

.modal-header {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Align items vertically */
}

    .modal-header .btn-close {
        position: absolute;
        right: 15px; /* Standard spacing for bootstrap modals */
        top: 15px;
    }

.centered-title {
    flex-grow: 1; /* Allows the title to occupy the maximum width */
    text-align: center;
}

.custom-margin-bottom {
    margin-bottom: 20px; /* Adjust as needed */
}

.custom-margin-top {
    margin-top: 30px; /* Adjust as needed for the button */
}

.button-container {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-right {
    margin-right: 8px; /* Adjust the value as needed */
}

.bold {
    font-weight: 600;
}






