@model PlataformaEDUGEP.Models.StoredFile

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StoredFile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="StoredFileName" class="control-label"></label>
                <input asp-for="StoredFileName" class="form-control" />
                <span asp-validation-for="StoredFileName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FileData" class="control-label">File</label>
                <input asp-for="FileData" type="file" class="form-control" />
                <span asp-validation-for="FileData" class="text-danger"></span>
            </div>

            @* Add a hidden field for FolderId *@
            @if (Model?.FolderId > 0)
            {
                <input type="hidden" asp-for="FolderId" />
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
