@model PlataformaEDUGEP.Models.Tag

<form asp-action="Edit" method="post" id="editTagForm">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="TagId" />

    <div class="form-group">
        <label asp-for="Name" class="control-label">Nome da etiqueta</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <input type="submit" value="Salvar alterações" class="btn btn-primary" />
    </div>
</form>
