<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Plataforma EDUGEP</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@

    <link rel="stylesheet" href="~/css/mytheme.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlataformaEDUGEP.styles.css" asp-append-version="true" />

    <!-- Include Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Plataforma EDUGEP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-d" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">Sobre</a>
                        </li>
                        <!-- Common link for all authenticated users -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Folders" asp-action="Index">Pastas</a>
                            </li>
                        }

                        <!-- Additional link for users authenticated as Admin -->
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Folders" asp-action="AuditLog">Registo de ocorrências</a>
                            </li>
                        }

                        <!-- Additional link for users authenticated as Admin -->
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Tags" asp-action="Index">Gestão de etiquetas</a>
                            </li>
                        }


                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #303030;">
        <div class="container">
            <span style="color: white;">&copy; 2024 - Plataforma EDUGEP - </span>
            <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: whitesmoke">Privacidade</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Include Select2 JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            // Initialize Select2 for filter search in Index view
            $('#filterTagSelect').select2({
                placeholder: "Search Tags for Filtering",
                language: {
                    noResults: function () {
                        return "Nenhuma etiqueta associada";
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                },
                ajax: {
                    url: '/Folders/GetTags', // Endpoint for fetching tags
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            searchTerm: params.term // Search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data.results
                        };
                    },
                    cache: true
                }
            });

            // Initialize Select2 for the Create Modal
            $('#createTagSelect').select2({
                placeholder: "Select Tags for the Folder",
                ajax: {
                    url: '/Folders/GetTags', // Potentially the same endpoint as above
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            searchTerm: params.term // Search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data.results
                        };
                    },
                    cache: true
                }
            });

            // Assuming the Create Modal is dynamically loaded
            $('#createFolderModal').on('shown.bs.modal', function () {
                // Re-initialize Select2 in case the modal content was dynamically loaded
                $('#createTagSelect').select2({
                    // Initialization options as above
                });
            });
        });


        /// Important logic used in create modal form
        $(document).ready(function () {
            $('#createFolderModal').on('shown.bs.modal', function () {
                // Initialize Select2 for the dynamically loaded select element in the create form
                $('#tagSelect').select2({
                    dropdownParent: $('#createFolderModal'), // Ensures dropdown is appended to the modal
                    placeholder: "Selecionar etiquetas",
                    language: {
                        noResults: function () {
                            return "Nenhuma etiqueta associada";
                        },
                        searching: function () {
                            return "A procurar..."; // Custom message for searching
                        }
                    },
                    escapeMarkup: function (markup) {
                        return markup;
                    },
                    width: '100%', // Matches the Select2 input width to the parent container
                    ajax: {
                        url: '/Folders/GetTags', // Endpoint to fetch tags
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                searchTerm: params.term // Search term for the query
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: data.results // Data processing
                            };
                        },
                        cache: true
                    }
                }).on("select2:open", function (e) {
                    // Ensures the select element is visible when Select2 is opened
                    $(this).css('display', 'block');
                });
            });
        });


        $(document).ready(function () {
            $('#editFolderModal').on('shown.bs.modal', function () {
                // Initialize Select2 for the dynamically loaded select element
                $('#editTagSelect').select2({
                    dropdownParent: $('#editFolderModal'), // Appends the dropdown to the modal
                    placeholder: "Selecionar etiquetas",
                    language: {
                        noResults: function () {
                            return "Nenhuma etiqueta associada";
                        },
                        searching: function () {
                            return "A procurar..."; // Custom message for searching
                        }
                    },
                    escapeMarkup: function (markup) {
                        return markup;
                    },
                    width: '100%', // Ensures the Select2 input width matches the parent container
                    ajax: {
                        url: '/Folders/GetTags', // Make sure this endpoint returns the data in the correct format
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                searchTerm: params.term // Search term
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: data.results
                            };
                        },
                        cache: true
                    }
                }).on("select2:open", function (e) {
                    // Show the select element when Select2 is opened
                    $(this).css('display', 'block');
                });
            });
        });



    </script>



    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>