@model PlataformaEDUGEP.Models.Folder

<form asp-action="Create" id="createFolderForm">
    @Html.AntiForgeryToken()

    <div class="form-group mb-3">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <div class="form-check">
        <input asp-for="IsHidden" class="form-check-input" />
        <label asp-for="IsHidden" class="form-check-label">Esconder pasta?</label>
        </div>
    </div>

    <div class="form-group mb-3">
        <label for="tagSelect">Etiquetas</label>
        <select id="tagSelect" asp-items="@(new SelectList(ViewBag.TagItems, "Value", "Text"))" class="form-control select2-tag-select" multiple="multiple" name="SelectedTagIds" style="display: none;"></select>
    </div>

    <div class="center-button">
        <button type="button" class="btn btn-secondary margin-right" data-bs-dismiss="modal">Cancelar</button>
        <input type="submit" value="Criar" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
