@model PlataformaEDUGEP.Models.Folder

<form asp-action="Create">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsHidden" class="control-label"></label>
        <input asp-for="IsHidden" />
    </div>

    <div class="form-group">
        <label for="tagSelect">Tags</label>
        <select id="tagSelect" asp-items="@(new SelectList(ViewBag.TagItems, "Value", "Text"))" class="form-control" multiple="multiple" name="SelectedTagIds"></select>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
