@model PlataformaEDUGEP.Models.Folder

<form asp-action="Edit" method="post" id="editFolderForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="FolderId" />

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" id="folderName" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CreationDate" class="control-label"></label>
        <input asp-for="CreationDate" class="form-control" disabled />
    </div>

    <div class="form-group">
        <label asp-for="ModificationDate" class="control-label"></label>
        <input asp-for="ModificationDate" class="form-control" disabled />
    </div>

    <div class="form-group">
        <div class="form-check">
            <input asp-for="IsHidden" class="form-check-input" />
            <label asp-for="IsHidden" class="form-check-label">Esconder pasta?</label>
        </div>
    </div>

</div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar alterações</button>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#editFolderForm').submit(function (event) {
                event.preventDefault(); // Prevent default form submission

                var folderName = $('#folderName').val().trim();
                if (folderName === '') {
                    $('#folderName').siblings('.text-danger').text('Por favor, introduza um nome.');
                } else {
                    var form = $(this);
                    $.ajax({
                        type: form.attr('method'),
                        url: form.attr('action'),
                        data: form.serialize(),
                        success: function (response) {
                            // Handle success response
                            $('#editFolderModal').modal('hide');
                            // Optionally, you can reload the page or update content here
                        },
                        error: function (xhr, status, error) {
                            // Handle error response
                            console.log(xhr.responseText);
                        }
                    });
                }
            });
        });
    </script>
}

